# Email Automation Data Analysis

This notebook provides a comprehensive analysis of customer data, sales data, inventory data, and email communications for the email automation project.

## Overview
- **Customer Data**: Account information and customer details
- **Sales Data**: Transaction records and sales history
- **Inventory Data**: Product catalog and stock information
- **Email Data**: Communication records from Zoho

## Data Sources
- `cc (1).csv`: Customer contact information
- `fi.CSV`: Inventory/financial data
- `s_by_c.CSV`: Sales by customer data
- `zoho_emails.json`: Email communication data

## 1. Import Libraries and Utilities

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import sys
import os

# Add src directory to path for importing utilities
sys.path.append('../src')

# Import utility functions
from data_utils import (
    load_data_files,
    load_email_data,
    process_account_data,
    analyze_business_data,
    process_email_dates,
    analyze_customer_matching,
    clean_customer_name
)

# Set display options
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 50)
pd.set_option('display.width', None)

print("Libraries imported successfully!")
print(f"Current working directory: {os.getcwd()}")

Libraries imported successfully!
Current working directory: g:\VSCode\Personal_work\email automation\notebooks

## 2. Load Data Files

In [2]:
# Load all CSV data files
df, df2, df3 = load_data_files()

print("\n" + "="*50)
print("DATA LOADING COMPLETED")
print("="*50)

Loading data files...
=== DataFrame Information ===
df (cc (1).csv): (1669, 8) - Columns: ['Customer', 'Bill to', 'Main Email', 'CC Email', 'Primary Contact', 'Main Phone', 'Fax', 'Account No.']
df2 (fi.CSV): (32768, 6) - Columns: ['Item', 'Description', 'Category', 'Preferred Vendor', 'Quantity On Hand', 'Physical Count']
df3 (s_by_c.CSV): (32768, 10) - Columns: ['Type', 'Date', 'Num', 'Memo', 'Name', 'Item', 'Qty', 'Sales Price', 'Amount', 'Balance']

==================================================
DATA LOADING COMPLETED
==================================================

## 3. Data Overview and Exploration

In [3]:
# Display basic information about each dataset
print("=== CUSTOMER DATA (df) ===")
print(f"Shape: {df.shape}")
print(f"Columns: {list(df.columns)}")
print("\nFirst 5 rows:")
display(df.head())

print("\n" + "="*50)
print("=== INVENTORY DATA (df2) ===")
print(f"Shape: {df2.shape}")
print(f"Columns: {list(df2.columns)}")
print("\nFirst 5 rows:")
display(df2.head())

print("\n" + "="*50)
print("=== SALES DATA (df3) ===")
print(f"Shape: {df3.shape}")
print(f"Columns: {list(df3.columns)}")
print("\nFirst 5 rows:")
display(df3.head())

=== CUSTOMER DATA (df) ===
Shape: (1669, 8)
Columns: ['Customer', 'Bill to', 'Main Email', 'CC Email', 'Primary Contact', 'Main Phone', 'Fax', 'Account No.']

First 5 rows:

,Customer,Bill to,Main Email,CC Email,Primary Contact,Main Phone,Fax,Account No.
0,1001 OPTICAL #1341,1001 OPTICAL #1341 2880 W. OLYMPIC BLVD. SUITE...,us1001la@hotmail.com,NaN,NaN,213-385-3388,213-385-3328,1341
1,1001 OPTICAL #1341A,1001 OPTICAL #1341A 2880 W. OLYMPIC BLVD. SUIT...,us1001la@hotmail.com,NaN,NaN,213-385-3388,213-385-3328,1341A
2,1001 OPTICAL #1341F,1001 OPTICAL #1341F 2880 W. OLYMPIC BLVD. SUIT...,NaN,NaN,NaN,NaN,NaN,1341F
3,1234 EYECARE CLINIC #1513,1234 EYECARE CLINIC #1513 1234 S. GARFIELD AVE...,NaN,NaN,LEE,626-282-5388,626-282-3667,1513
4,1234 EYECARE CLINIC #1513F,1234 EYECARE CLINIC #1513F 1234 S. GARFIELD AV...,NaN,NaN,NaN,NaN,NaN,1513F

==================================================
=== INVENTORY DATA (df2) ===
Shape: (32768, 6)
Columns: ['Item', 'Description', 'Category', 'Preferred Vendor', 'Quantity On Hand', 'Physical Count']

First 5 rows:

,Item,Description,Category,Preferred Vendor,Quantity On Hand,Physical Count
0,21.ACCESS,NaN,Uncategorized,NaN,0.0,NaN
1,21.ACCESS:INNER PAD,INNER PAD,Uncategorized,NaN,-140.0,NaN
2,21.ACCESS:INNER PAD:C-11 BLUE,C-11 INNER PAD (BLUE),Uncategorized,NaN,2484.0,NaN
3,21.ACCESS:INNER PAD:C-11 GREEN,C-11 INNER PAD (GREEN),Uncategorized,NaN,4593.0,NaN
4,21.ACCESS:INNER PAD:C-11 L.GREY,C-11 INNER PAD (LIGHT GREY),Uncategorized,NaN,3343.0,NaN

==================================================
=== SALES DATA (df3) ===
Shape: (32768, 10)
Columns: ['Type', 'Date', 'Num', 'Memo', 'Name', 'Item', 'Qty', 'Sales Price', 'Amount', 'Balance']

First 5 rows:

,Type,Date,Num,Memo,Name,Item,Qty,Sales Price,Amount,Balance
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Stmt Charge,04/25/2008,A/R,NaN,1001 OPTICAL #1341,A,1.0,91.75,91.75,91.75
2,Invoice,06/09/2008,19876,POLY TINT -0.50 -0.75,1001 OPTICAL #1341,01.LENS:T1 VISION EASE:T1 -0.50-0.75 (VISION-E...,1.0,3.25,3.25,95.00
3,Invoice,06/09/2008,19876,POLY TINT -1.75 0.00,1001 OPTICAL #1341,01.LENS:T1 VISION EASE:T1 -1.75-0.00 (VISION-E...,1.0,3.25,3.25,98.25
4,Invoice,06/09/2008,19876,POLY TINT -4.00 -0.75,1001 OPTICAL #1341,01.LENS:T1 VISION EASE:T1 -4.00-0.75 (VISION E...,1.0,3.25,3.25,101.50

## 4. Customer Data Processing

In [4]:
# Process customer account data
print("Processing customer account data...")

# Add clean customer names
df['customer_name_clean'] = df['Customer'].apply(clean_customer_name)

df3['customer_name_clean'] = df3['Name'].apply(clean_customer_name)

Processing customer account data...

# 5. Remove uneccessary columns

In [6]:
# Remove 'Unnamed: 0' columns from all dataframes

df2 = df2.drop(columns=['Category','Preferred Vendor'])

## 6. Email Data Processing

In [7]:
# Load and process email data
print("Loading email data...")
email_df = load_email_data()

print("\nProcessing email dates and times...")
email_df = process_email_dates(email_df)

print("\nEmail data shape after processing:", email_df.shape)
print("\nEmail data columns:", list(email_df.columns))

print("\n" + "="*50)
print("EMAIL DATA PROCESSING COMPLETED")
print("="*50)

Loading email data...
Loading JSON file...
JSON data type: <class 'list'>
Total emails: 25156

=== Email DataFrame Information ===
email_df: (25156, 22) - Columns: ['summary', 'sentDateInGMT', 'calendarType', 'subject', 'messageId', 'flagid', 'status2', 'priority', 'hasInline', 'toAddress', 'folderId', 'ccAddress', 'hasAttachment', 'size', 'sender', 'receivedTime', 'fromAddress', 'status', 'threadCount', 'threadId', 'mailDeliveryStatus', 'bccAddress']

=== Email DataFrame Basic Info ===
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25156 entries, 0 to 25155
Data columns (total 22 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   summary             25156 non-null  object
 1   sentDateInGMT       25156 non-null  object
 2   calendarType        25156 non-null  int64
 3   subject             25156 non-null  object
 4   messageId           25156 non-null  object
 5   flagid              25156 non-null  object
 6   status2             25156 non-null  object
 7   priority            25156 non-null  object
 8   hasInline           25156 non-null  object
 9   toAddress           25154 non-null  object
 10  folderId            25156 non-null  object
 11  ccAddress           25156 non-null  object
 12  hasAttachment       25156 non-null  object
 13  size                25156 non-null  object
 14  sender              25156 non-null  object
 15  receivedTime        25156 non-null  object
 16  fromAddress         25156 non-null  object
 17  status              25156 non-null  object
 18  threadCount         23132 non-null  object
 19  threadId            23132 non-null  object
 20  mailDeliveryStatus  23243 non-null  object
 21  bccAddress          6 non-null      object
dtypes: int64(1), object(21)
memory usage: 4.2+ MB
None

=== Email DataFrame Data Types ===
summary               object
sentDateInGMT         object
calendarType           int64
subject               object
messageId             object
flagid                object
status2               object
priority              object
hasInline             object
toAddress             object
folderId              object
ccAddress             object
hasAttachment         object
size                  object
sender                object
receivedTime          object
fromAddress           object
status                object
threadCount           object
threadId              object
mailDeliveryStatus    object
bccAddress            object
dtype: object

=== Email DataFrame Missing Values ===
summary                   0
sentDateInGMT             0
calendarType              0
subject                   0
messageId                 0
flagid                    0
status2                   0
priority                  0
hasInline                 0
toAddress                 2
folderId                  0
ccAddress                 0
hasAttachment             0
size                      0
sender                    0
receivedTime              0
fromAddress               0
status                    0
threadCount            2024
threadId               2024
mailDeliveryStatus     1913
bccAddress            25150
dtype: int64

=== Key Column Sample Data ===
Sender address sample:
0          elevencostamesa@gmail.com
1    Kevin.Phan@goldenvision2020.com
2                 joshua@nybkusa.com
3                 joshua@nybkusa.com
4          elevencostamesa@gmail.com
Name: fromAddress, dtype: object

Recipient address sample:
0    &quot;Lens Order&quot;&lt;order@abbaopticalusa...
1    &quot;Lens Order&quot;&lt;order@abbaopticalusa...
2    &quot;Lens Order&quot;&lt;order@abbaopticalusa...
3    &quot;Lens Order&quot;&lt;order@abbaopticalusa...
4    &quot;Lens Order&quot;&lt;order@abbaopticalusa...
Name: toAddress, dtype: object

Sender name sample:
0              Mark Kim
1            Kevin Phan
2    joshua@nybkusa.com
3    joshua@nybkusa.com
4              Mark Kim
Name: sender, dtype: object

Received time sample:
0    1750988041867
1    1750986606260
2    1750985927516
3    1750985680622
4    1750985407792
Name: receivedTime, dtype: object

Unique senders: 793
Unique recipients: 182

Processing email dates and times...
=== Date and Time Separation Results ===
Newly created columns:
- sent_date_only: object
- sent_time_only: object
- sent_hour: int32
- sent_minute: int32

=== Separated Date and Time Sample ===
Sent date/time:
   sentDateInGMT sent_date_only sent_time_only  sent_hour  sent_minute
0  1751013228000     2025-06-27       08:33:48          8           33
1  1751011799000     2025-06-27       08:09:59          8            9
2  1751011088000     2025-06-27       07:58:08          7           58
3  1751010839000     2025-06-27       07:53:59          7           53
4  1751010592000     2025-06-27       07:49:52          7           49

Email data shape after processing: (25156, 32)

Email data columns: ['summary', 'sentDateInGMT', 'calendarType', 'subject', 'messageId', 'flagid', 'status2', 'priority', 'hasInline', 'toAddress', 'folderId', 'ccAddress', 'hasAttachment', 'size', 'sender', 'receivedTime', 'fromAddress', 'status', 'threadCount', 'threadId', 'mailDeliveryStatus', 'bccAddress', 'sentDate', 'receivedDate', 'sent_date_only', 'sent_time_only', 'sent_hour', 'sent_minute', 'received_date_only', 'received_time_only', 'received_hour', 'received_minute']

==================================================
EMAIL DATA PROCESSING COMPLETED
==================================================

# 7. Inventory columns catagorizing

In [8]:
# Import and run the inventory category splitting function
from split_inventory_categories import split_inventory_categories

# Run the function to split df2 Item column into categories
df, df2_processed, df3 = split_inventory_categories()

# Display the results
print("\n=== PROCESSED INVENTORY DATA ===")
print(f"Shape: {df2_processed.shape}")
print(f"Columns: {list(df2_processed.columns)}")

# Show sample of the split data
print("\n--- Sample Split Data ---")
sample_cols = ['Item'] + [col for col in df2_processed.columns if col.startswith('Category_Level_')] + ['Product_Code']
display(df2_processed[sample_cols].head(10))

# Update the original df2 variable
df2 = df2_processed

print("\n" + "="*50)
print("INVENTORY CATEGORY SPLITTING COMPLETED")
print("="*50)

Loading data files...
Loading data files...
=== DataFrame Information ===
df (cc (1).csv): (1669, 8) - Columns: ['Customer', 'Bill to', 'Main Email', 'CC Email', 'Primary Contact', 'Main Phone', 'Fax', 'Account No.']
df2 (fi.CSV): (32768, 6) - Columns: ['Item', 'Description', 'Category', 'Preferred Vendor', 'Quantity On Hand', 'Physical Count']
df3 (s_by_c.CSV): (32768, 10) - Columns: ['Type', 'Date', 'Num', 'Memo', 'Name', 'Item', 'Qty', 'Sales Price', 'Amount', 'Balance']

Removing 'Unnamed: 0' columns...
=== INVENTORY ITEM CATEGORY ANALYSIS ===

--- Item Column Structure Analysis ---
Total items: 32768
Unique items: 32768

--- Sample Items ---
1. 21.ACCESS
2. 21.ACCESS:INNER PAD
3. 21.ACCESS:INNER PAD:C-11 BLUE
4. 21.ACCESS:INNER PAD:C-11 GREEN
5. 21.ACCESS:INNER PAD:C-11 L.GREY
6. 21.ACCESS:INNER PAD:C-11 ORANGE
7. 21.ACCESS:INNER PAD:C-11 PINK
8. 21.ACCESS:INNER PAD:C-11 SEA GREEN
9. 21.ACCESS:INNER PAD:C-11 YELLOW
10. 21.ACCESS:INNER PAD:K-25 BLUE

--- Hierarchy Depth Analysis ---
Number of colons (hierarchy levels):
  0 colons: 4 items
  1 colons: 96 items
  2 colons: 22,521 items
  3 colons: 10,147 items

Maximum hierarchy depth: 3 levels

--- Splitting Item Column ---
✓ Item column split into hierarchical categories

--- New DataFrame Structure ---
Original columns: ['Item', 'Description', 'Category', 'Preferred Vendor', 'Quantity On Hand', 'Physical Count', 'Category_Level_1', 'Category_Level_2', 'Category_Level_3', 'Product_Code']
New shape: (32768, 10)

--- Sample Split Data ---
                                 Item Category_Level_1 Category_Level_2 Category_Level_3 Product_Code
0                           21.ACCESS        21.ACCESS             None             None         None
1                 21.ACCESS:INNER PAD        21.ACCESS        INNER PAD             None         None
2       21.ACCESS:INNER PAD:C-11 BLUE        21.ACCESS        INNER PAD        C-11 BLUE         None
3      21.ACCESS:INNER PAD:C-11 GREEN        21.ACCESS        INNER PAD       C-11 GREEN         None
4     21.ACCESS:INNER PAD:C-11 L.GREY        21.ACCESS        INNER PAD      C-11 L.GREY         None
5     21.ACCESS:INNER PAD:C-11 ORANGE        21.ACCESS        INNER PAD      C-11 ORANGE         None
6       21.ACCESS:INNER PAD:C-11 PINK        21.ACCESS        INNER PAD        C-11 PINK         None
7  21.ACCESS:INNER PAD:C-11 SEA GREEN        21.ACCESS        INNER PAD   C-11 SEA GREEN         None
8     21.ACCESS:INNER PAD:C-11 YELLOW        21.ACCESS        INNER PAD      C-11 YELLOW         None
9       21.ACCESS:INNER PAD:K-25 BLUE        21.ACCESS        INNER PAD        K-25 BLUE         None

--- Category Distribution ---
Category_Level_1: 4 unique categories
Category_Level_2: 96 unique categories
Category_Level_3: 22,505 unique categories

--- Hierarchy Examples ---

Item: 21.ACCESS
  Level 1: 21.ACCESS

Item: 21.ACCESS:INNER PAD
  Level 1: 21.ACCESS
  Level 2: INNER PAD

Item: 21.ACCESS:INNER PAD:C-11 BLUE
  Level 1: 21.ACCESS
  Level 2: INNER PAD
  Level 3: C-11 BLUE

Item: 21.ACCESS:INNER PAD:C-11 GREEN
  Level 1: 21.ACCESS
  Level 2: INNER PAD
  Level 3: C-11 GREEN

Item: 21.ACCESS:INNER PAD:C-11 L.GREY
  Level 1: 21.ACCESS
  Level 2: INNER PAD
  Level 3: C-11 L.GREY

==================================================
INVENTORY ITEM CATEGORY ANALYSIS COMPLETED
==================================================

=== PROCESSED INVENTORY DATA ===
Shape: (32768, 10)
Columns: ['Item', 'Description', 'Category', 'Preferred Vendor', 'Quantity On Hand', 'Physical Count', 'Category_Level_1', 'Category_Level_2', 'Category_Level_3', 'Product_Code']

--- Sample Split Data ---

,Item,Category_Level_1,Category_Level_2,Category_Level_3,Product_Code
0,21.ACCESS,21.ACCESS,None,None,None
1,21.ACCESS:INNER PAD,21.ACCESS,INNER PAD,None,None
2,21.ACCESS:INNER PAD:C-11 BLUE,21.ACCESS,INNER PAD,C-11 BLUE,None
3,21.ACCESS:INNER PAD:C-11 GREEN,21.ACCESS,INNER PAD,C-11 GREEN,None
4,21.ACCESS:INNER PAD:C-11 L.GREY,21.ACCESS,INNER PAD,C-11 L.GREY,None
5,21.ACCESS:INNER PAD:C-11 ORANGE,21.ACCESS,INNER PAD,C-11 ORANGE,None
6,21.ACCESS:INNER PAD:C-11 PINK,21.ACCESS,INNER PAD,C-11 PINK,None
7,21.ACCESS:INNER PAD:C-11 SEA GREEN,21.ACCESS,INNER PAD,C-11 SEA GREEN,None
8,21.ACCESS:INNER PAD:C-11 YELLOW,21.ACCESS,INNER PAD,C-11 YELLOW,None
9,21.ACCESS:INNER PAD:K-25 BLUE,21.ACCESS,INNER PAD,K-25 BLUE,None

==================================================
INVENTORY CATEGORY SPLITTING COMPLETED
==================================================

## 8. Customer Matching Analysis

In [9]:
# Process account data to extract business information
df_processed = process_account_data(df)

# Analyze the processed data
business_groups = analyze_business_data(df_processed)

# Save processed data
df_processed.to_csv('../data/processed_accounts.csv', index=False)
print("\nProcessed data saved to '../data/processed_accounts.csv'")

print("\n" + "="*50)
print("CUSTOMER DATA PROCESSING COMPLETED")
print("="*50)

=== Account Number Processing Results ===
Total unique businesses: 750
Total accounts: 1669

=== Account Type Distribution ===
account_type
Lens          551
Frame         344
Accessory     218
Unknown       123
Edging        100
Surface        30
Brand Lens     12
Other          11
Name: count, dtype: int64

=== Sample Data (After Processing) ===
                     Customer Account No. base_account suffix account_type  \
0          1001 OPTICAL #1341        1341         1341                Lens
1         1001 OPTICAL #1341A       1341A         1341      A    Accessory
2         1001 OPTICAL #1341F       1341F         1341      F        Frame
3   1234 EYECARE CLINIC #1513        1513         1513                Lens
4  1234 EYECARE CLINIC #1513F       1513F         1513      F        Frame
5       2 SEE OPTOMETRY #1659        1659         1659                Lens
6      2 SEE OPTOMETRY #1659A       1659A         1659      A    Accessory
7      2 SEE OPTOMETRY #1659F       1659F         1659      F        Frame
8        20/20 EYE CLUB #1169        1169         1169                Lens
9       20/20 EYE CLUB #1169A       1169A         1169      A    Accessory

  business_id
0        0129
1        0129
2        0129
3        0268
4        0268
5        0416
6        0416
7        0416
8        0046
9        0046

=== Multiple Accounts Example for Same Business ===

Processed data saved to '../data/processed_accounts.csv'

==================================================
CUSTOMER DATA PROCESSING COMPLETED
==================================================

In [10]:
# Analyze customer matching between customer data and sales data
print("Analyzing customer matching between datasets...")

matching_results = analyze_customer_matching(df_processed, df3)

print("\n" + "="*50)
print("CUSTOMER MATCHING ANALYSIS COMPLETED")
print("="*50)

Analyzing customer matching between datasets...
=== Customer Name Statistics ===
df unique customer names: 1242
df3 unique customer names: 4

=== Matching Results ===
Matching customer names: 4
df only customer names: 1238
df3 only customer names: 0

=== Matching Ratios ===
df customer name matching ratio: 0.32%
df3 customer name matching ratio: 100.00%

=== Detailed Analysis ===
Matching customer df records: 13
Matching customer df3 records: 32751
df total record matching ratio: 0.78%
df3 total record matching ratio: 99.95%

=== Matching Quality Assessment ===
❌ Low matching quality

==================================================
CUSTOMER MATCHING ANALYSIS COMPLETED
==================================================

## 9. Data Quality Assessment

In [11]:
# Assess data quality across all datasets
print("=== DATA QUALITY ASSESSMENT ===")

# Customer data quality
print("\n--- Customer Data Quality ---")
print(f"Total records: {len(df_processed)}")
print(f"Missing values in key columns:")
print(df_processed[['Customer', 'Account No.', 'Main Email', 'Main Phone']].isnull().sum())

# Sales data quality
print("\n--- Sales Data Quality ---")
print(f"Total records: {len(df3)}")
print(f"Missing values in key columns:")
print(df3[['Name', 'Date', 'Amount', 'Item']].isnull().sum())

# Email data quality
print("\n--- Email Data Quality ---")
print(f"Total records: {len(email_df)}")
print(f"Missing values in key columns:")
print(email_df[['fromAddress', 'toAddress', 'subject', 'sentDate']].isnull().sum())

print("\n" + "="*50)
print("DATA QUALITY ASSESSMENT COMPLETED")
print("="*50)

=== DATA QUALITY ASSESSMENT ===

--- Customer Data Quality ---
Total records: 1669
Missing values in key columns:
Customer         0
Account No.    280
Main Email     671
Main Phone     370
dtype: int64

--- Sales Data Quality ---
Total records: 32768
Missing values in key columns:
Name      17
Date      17
Amount     9
Item      17
dtype: int64

--- Email Data Quality ---
Total records: 25156
Missing values in key columns:
fromAddress    0
toAddress      2
subject        0
sentDate       0
dtype: int64

==================================================
DATA QUALITY ASSESSMENT COMPLETED
==================================================

## 10. Summary Statistics

In [12]:
# Generate summary statistics
print("=== SUMMARY STATISTICS ===")

print("\n--- Dataset Overview ---")
print(f"Customer Records: {len(df_processed):,}")
print(f"Sales Records: {len(df3):,}")
print(f"Email Records: {len(email_df):,}")
print(f"Inventory Records: {len(df2):,}")

print("\n--- Business Information ---")
print(f"Unique Businesses: {df_processed['business_id'].nunique():,}")
print(f"Unique Customer Names: {df_processed['customer_name_clean'].nunique():,}")
print(f"Unique Email Senders: {email_df['fromAddress'].nunique():,}")
print(f"Unique Email Recipients: {email_df['toAddress'].nunique():,}")

print("\n--- Account Types ---")
account_type_summary = df_processed['account_type'].value_counts()
for account_type, count in account_type_summary.items():
    print(f"{account_type}: {count:,}")

print("\n--- Email Communication ---")
print(f"Date Range: {email_df['sentDate'].min()} to {email_df['sentDate'].max()}")
print(f"Total Email Volume: {len(email_df):,}")

print("\n" + "="*50)
print("SUMMARY STATISTICS COMPLETED")
print("="*50)

=== SUMMARY STATISTICS ===

--- Dataset Overview ---
Customer Records: 1,669
Sales Records: 32,768
Email Records: 25,156
Inventory Records: 32,768

--- Business Information ---
Unique Businesses: 750
Unique Customer Names: 1,242
Unique Email Senders: 793
Unique Email Recipients: 182

--- Account Types ---
Lens: 551
Frame: 344
Accessory: 218
Unknown: 123
Edging: 100
Surface: 30
Brand Lens: 12
Other: 11

--- Email Communication ---
Date Range: 2019-07-19 01:16:07 to 2025-06-27 08:33:48
Total Email Volume: 25,156

==================================================
SUMMARY STATISTICS COMPLETED
==================================================

## 11. Data Export and Next Steps

In [14]:
# Export processed data for further analysis
print("Exporting processed data...")

# Export processed customer data
df_processed.to_csv('../data/processed_customer_data.csv', index=False)
print("✓ Processed customer data exported")

# Export processed email data
email_df.to_csv('../data/processed_email_data.csv', index=False)
print("✓ Processed email data exported")

# Export sales data with clean customer names
if 'customer_name_clean' not in df3.columns:
    df3['customer_name_clean'] = df3['Name'].apply(clean_customer_name)
df3.to_csv('../data/processed_sales_data.csv', index=False)
print("✓ Processed sales data exported")

# Export inventory data with sub catogories 
df2.to_csv('../data/processed_inventory _data.csv', index=False)
print("✓ Processed inventory data exported")


print("\n=== EXPORT COMPLETED ===")
print("All processed data has been exported to the 'data' folder.")
print("\nNext steps:")
print("1. Review the processed data files")
print("2. Perform additional analysis as needed")
print("3. Create visualizations and reports")
print("4. Implement email automation logic")

print("\n" + "="*50)
print("DATA ANALYSIS COMPLETED")
print("="*50)

Exporting processed data...
✓ Processed customer data exported
✓ Processed email data exported
✓ Processed sales data exported
✓ Processed inventory data exported

=== EXPORT COMPLETED ===
All processed data has been exported to the 'data' folder.

Next steps:
1. Review the processed data files
2. Perform additional analysis as needed
3. Create visualizations and reports
4. Implement email automation logic

==================================================
DATA ANALYSIS COMPLETED
==================================================